<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <h2 style="color:white;">@_language.GetKey("Your Welcome").Value</h2>

    <div class="containerhome">
        <div class="dna">
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <svg class=filter xmlns="http://www.w3.org/2000/svg" version="1.1">
            <filter id="blurFilter">
                <feGaussianBlur stdDeviation="4.5"></feGaussianBlur>
                <feColorMatrix type="matrix" values="
              1 0 0 0 0
              0 1 0 0 0
              0 0 1 0 0
              0 0 0 19 -9"></feColorMatrix>
            </filter>
        </svg>
    </div>


    <div class="col-md-6 ms-auto" style="color:white; font-size:medium; ">
        <p class="description">@_language.GetKey("p1").Value
        </p>
    </div>


</body>
</html>


<style>


    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow-x: hidden;
    }

    section {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        transition: background 0.5s ease-in-out;
    }

        section::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Arka planı karartır */
            z-index: 1;
        }

    h1 {
        position: relative;
        z-index: 2;
        color: white;
        font-size: 3rem;
    }

    section.active {
        opacity: 1;
        transform: translateY(0);
    }

    .section2 {
        background: url('/images/two-genomes-sotry.jpg') no-repeat center center/cover;
    }

    .section3 {
        background: url('/images/card.jpg') no-repeat center center/cover;
    }

    h1 {
        color: white;
        font-size: 3rem;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
</style>


@section scripts {
    <script>
        // script.js
        document.addEventListener("DOMContentLoaded", () => {
            const sections = document.querySelectorAll("section");

            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        document.body.style.backgroundColor = entry.target.dataset.bgColor || "#fff";
                    }
                });
            }, { threshold: 0.5 });

            sections.forEach((section) => {
                observer.observe(section);
            });
        });

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('active');
                } else {
                    entry.target.classList.remove('active');
                }
            });
        }, { threshold: 0.7 }); // Görünme oranı %70

    </script>

}