@using GeneMap.BLL.Data.Dto
@model LoginDto

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/box.css" asp-append-version="true" />
</head>
<body>


    <div class="containerhome">
        <div class="dna">
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="item">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <svg class=filter xmlns="http://www.w3.org/2000/svg" version="1.1">
            <filter id="blurFilter">
                <feGaussianBlur stdDeviation="4.5"></feGaussianBlur>
                <feColorMatrix type="matrix" values="
              1 0 0 0 0
              0 1 0 0 0
              0 0 1 0 0
              0 0 0 19 -9"></feColorMatrix>
            </filter>
        </svg>
    </div>

</body>
</html>









<div class="col-md-4 ms-auto me-auto" style="padding-top:50px;">

    
        
        <div class="box">
            <div class="card-header">
            <h3 style="font-family:Arial,sans-serif;color:white;">Login</h3>
            </div>
            <div class="card-body">
                <form asp-action="Login" asp-controller="Auth" method="post">
                    <div class="mb-3">
                        <label asp-for="@Model.UserNameOrEmail" class="form-label" style="color:white;">Kullanıcı Adı veya Email</label>
                        <input class="form-control" asp-for="@Model.UserNameOrEmail" />
                    </div>
                    <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label" style="color:white;">Şifre</label>
                        <input class="form-control" type="password" asp-for="@Model.Password" />
                    </div>
                    <div class="float-end text-white p-2">
                        <button type="submit" class="btn btn-outline-success">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




